Energy Review.aux
Energy Review.fdb_latexmk
Energy Review.fls
Energy Review.log
Energy Review.synctex.gz

Momentum Review.aux
Momentum Review.fdb_latexmk
Momentum Review.fls
Momentum Review.log
Momentum Review.synctex.gz